<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Join Channel</title>

</head>
<body>
	<h2>Join A Channel</h2>

	<div th:each="channel : ${channels}">
		<a
			th:href="@{/channels/{channelId}(channelId = ${channel.channelId})}">[[${channel.channelName}]]</a>
		<br>
<!-- 		<div> -->
<!-- 			User Id: <input type="text" th:field="${user.userId}" /> -->

<!-- 		</div> -->
	</div>

<!-- 		<div> -->
<!-- 			User Id: <input type="text" th:field="${user.userId}" /> -->
<!-- 		</div> -->


	<script type="text/javascript" src="/js/welcome.js"></script>
</body>
</html>